*.o
*.po
*.a
*.so
*.d
*.cat1
*.cat3
*.cat5
*.dylib
.depend
addr2line/addr2line
ar/acplex.c
ar/acpyacc.c
ar/acpyacc.h
ar/ar
ar/ranlib
brandelf/brandelf
common/native-elf-format.h
cxxfilt/c++filt
documentation/libelf-by-example/libelf-by-example.aux
documentation/libelf-by-example/libelf-by-example.idx
documentation/libelf-by-example/libelf-by-example.log
documentation/libelf-by-example/libelf-by-example.out
documentation/libelf-by-example/libelf-by-example.pdf
documentation/libelf-by-example/libelf-by-example.toc
elfcopy/elfcopy
elfcopy/mcs
elfcopy/strip
elfdump/elfdump
findtextrel/findtextrel
ld/amd64_script.c
ld/i386_script.c
ld/ld
ld/ld_script_lexer.c
ld/ld_script_parser.c
ld/y.tab.h
ld/y.tab.c
libdwarf/dwarf_funcs.c
libdwarf/dwarf_pro_funcs.c
libdwarf/dwarf_pro_pubnames.c
libdwarf/dwarf_pro_types.c
libdwarf/dwarf_pro_vars.c
libdwarf/dwarf_pro_weaks.c
libdwarf/dwarf_pubnames.c
libdwarf/dwarf_pubtypes.c
libdwarf/dwarf_types.c
libdwarf/dwarf_vars.c
libdwarf/dwarf_weaks.c
libelf/libelf_convert.c
libelf/libelf_fsize.c
libelf/libelf_msize.c
libelftc/elftc_version.c
nm/nm
readelf/readelf
size/size
strings/strings
